/* Estilos generales */
.section_form {
    padding-top: 2rem;
    padding-bottom:2rem;
    display:flex;
    justify-content:space-around
}

form {
    width: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
}

/* Estilos para las etiquetas label */
.lab_reserva {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilos para los input */
.inp_reserva {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para el botón */
.inp_reserva [type="submit"] {
    width: 100%;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cuadro_disponibilidad{
    width:20px;
    height:20px;
    background:red;
}
.itens{
    display:flex;
    padding-bottom:1rem;
}
#li_disponible{
    padding-top:1rem;
}
#div_disponible {
    background: #ee7516;
}
#div_noDisponible {
    background: rgba(0,102,255,.25);
}
.cuadro_disponibilidad {
    margin-right: .5rem;
}
